:root {
  --color-dark: #2a2a2a;
  --color-yellow: #ffca2f;
  --body-bg: #fff;
  --text-color: #000;
  --link-color: #0e76a8;
  --border-color: #2a2a2a;
  --color-best: rgba(54, 2, 185, 0.6);
  --dark-bg: var(--color-dark);
  --dark-text-color: #fff;
  --dark-link-color: var(--color-yellow);
  --dark-border-color: #fff;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserat", sans-serif;
  scroll-behavior: smooth;
}

.title {
  font-size: 2rem;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

section {
  padding: 4rem;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  background: var(--body-bg);
  color: var(--text-color);
}

.dark-mode-checkbox:checked ~ .wrapper {
  --body-bg: var(--dark-bg);
  --text-color: var(--dark-text-color);
  --link-color: var(--dark-link-color);
  --border-color: var(--dark-border-color);
}

#darkMode {
  display: none;
  position: fixed;
  top: 6rem;
  left: 1rem;
}

.dark-mode-toggle {
  position: fixed;
  top: 6rem;
  left: 2rem;
  cursor: pointer;
}
.dark-mode-toggle:hover {
  transform: scale(1.2);
}

.primary-header {
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem 2rem;
  background: var(--body-bg);
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}
.primary-header .logo {
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.primary-header .logo .logo2 {
  display: flex;
  align-items: center;
}
.primary-header .logo .logo2 img {
  width: 40px;
  border-radius: 100%;
  margin-right: 10px;
}
.primary-header .logo div:nth-child(1) h1 {
  font-size: 1.8rem;
}
.primary-header .logo div:nth-child(2) h1 {
  font-size: 1rem;
  font-weight: 400;
}
.primary-header .logo .line::before {
  content: "";
  background: var(--color-yellow);
  height: 60%;
  width: 4px;
  left: 53%;
  position: absolute;
}
.primary-header .right #check,
.primary-header .right .menu-icon {
  display: none;
}
.primary-header .right .navigation {
  padding: 0;
  margin: 0;
  gap: 2.5rem;
}
.primary-header .right .navigation li a:hover {
  color: var(--color-yellow);
}
@media (width <= 768px) {
  .primary-header .right .menu-icon {
    display: block;
  }
  .primary-header .right .navigation {
    flex-direction: column;
    width: 15rem;
    height: 100vh;
    background: var(--body-bg);
    position: fixed;
    left: 100%;
    top: 4.7rem;
    transition: 0.5s ease-in-out;
  }
  .primary-header .right .navigation li {
    padding-left: 1rem;
  }
  .primary-header .right #check:checked ~ ul {
    left: calc(100% - 15rem);
  }
}
@media (width <= 480px) {
  .primary-header .logo {
    gap: 1.5rem;
  }
  .primary-header .logo div:nth-child(1) h1 {
    font-size: 1rem;
  }
  .primary-header .logo div:nth-child(2) .line {
    font-size: 0.8rem;
  }
  .primary-header .logo div:nth-child(2) .line::before {
    left: 52%;
  }
}

.section1 {
  background: var(--color-best);
  background: linear-gradient(to bottom, #0b30c3, #fdfdfc);
  text-shadow: 1px 1px 2px rgb(58, 4, 237);
  margin: 4rem auto 3rem auto;
  padding: 0 2rem;
  width: 90vw;
  grid-template-areas: "one two";
}
.section1 .left {
  margin-top: -4rem;
  grid-area: one;
  justify-content: center;
  align-items: center;
}
.section1 .left img {
  height: 110%;
}
.section1 .right {
  grid-area: two;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
}
.section1 .right div {
  flex-direction: column;
  gap: 0.6rem;
}
.section1 .right div .name {
  font-size: 5rem;
  font-weight: bold;
  color: rgb(73, 4, 123);
}
.section1 .right div .tag {
  color: rgb(73, 4, 123);
  font-size: 3.5rem;
  font-weight: bold;
}
.section1 .right button {
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 2rem;
  margin: 1rem 0;
  cursor: pointer;
  background: #000;
  color: #fff;
  font-size: 1rem;
}
.section1 .right button a span i {
  color: var(--color-yellow);
}
.section1 .right button a a:hover {
  color: var(--color-yellow);
}
@media (width <= 1024px) {
  .section1 {
    grid-template-areas: "one" "two";
    padding-bottom: 2rem;
  }
  .section1 .right {
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
  }
}
@media (width <= 768px) {
  .section1 .left img {
    width: 70%;
  }
}

.section2 .info-container {
  margin: auto;
  padding: 2rem;
  max-width: 85%;
  min-height: 7rem;
  border: 2px solid var(--border-color);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}
.section2 .info-container .info-lists {
  width: 100%;
  color: var(--text-color);
  justify-content: space-around;
  align-items: center;
}
.section2 .info-container .info-lists .info-content .icon-container {
  width: 3rem;
  height: 3rem;
  background: var(--color-yellow);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.section2 .info-container .info-lists .info-content .icon-container i {
  font-size: 1.4rem;
  color: white;
}
.section2 .info-container .info-lists .info-content span h5 {
  letter-spacing: 2px;
}
.section2 .info-container .info-lists .info-content span p {
  color: goldenrod;
}
.section2 .info-container .info-lists .info-divider {
  width: 2px;
  height: 35px;
  background: grey;
}
@media (width <= 1024px) {
  .section2 .info-container {
    width: 60%;
    padding: 1rem;
    border-radius: 30px;
  }
  .section2 .info-container .info-lists {
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }
  .section2 .info-container .info-divider {
    display: none;
  }
}

.section3 .skills-container {
  gap: 8rem;
  justify-content: center;
}
.section3 .skills-container div {
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}
.section3 .skills-container div i {
  font-size: 3rem;
  color: #0b30c3;
}
@media (width <= 1024px) {
  .section3 .skills-container {
    gap: 4rem;
  }
}
@media (width <= 768px) {
  .section3 .skills-container {
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section3 div i {
    width: 4rem;
    color: #0b30c3;
  }
}

.section4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section4 .projects-container {
  width: 100%;
  padding: 3rem 2rem 0 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2.5rem;
  justify-content: space-between;
}
.section4 .projects-container .project-card {
  cursor: pointer;
  flex-direction: column;
  box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.3);
}
.section4 .projects-container .project-card .top img {
  width: 100%;
  height: 250px;
}
.section4 .projects-container .project-card .bottom {
  margin-top: 1.2rem;
  padding: 1rem;
}
.section4 .projects-container .project-card .bottom p {
  font-size: 1.3rem;
}
.section4 .projects-container .project-card .bottom p:nth-child(2) {
  margin-top: 1.2rem;
  font-weight: bold;
}

.section5 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section5 .about-container {
  padding: 3rem;
}
.section5 .about-container .left {
  width: 50%;
  padding: 0 2rem;
  position: relative;
  display: flex;
  justify-content: center;
}
.section5 .about-container .left .bg {
  width: 95%;
  height: 65%;
  background: var(--color-yellow);
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.section5 .about-container .left img {
  width: 100%;
}
.section5 .about-container .right {
  width: 50%;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}
.section5 .about-container .right h1 {
  font-size: 3.5rem;
}
.section5 .about-container .right p:nth-child(2) {
  font-weight: 500;
}
.section5 .about-container .right p:nth-child(3) {
  font-weight: 300;
}
.section5 .about-container .right a {
  color: var(--link-color);
  text-decoration: underline;
}
.section5 .about-container .right > div {
  flex-direction: column;
}
.section5 .about-container .right > div .tag {
  font-weight: 700;
}
.section5 .about-container .right > div div {
  display: flex;
  gap: 3rem;
}
.section5 .about-container .right > div div span {
  padding: 0.5rem 0.7rem;
  border-radius: 0.8rem;
}
.section5 .about-container .right > div div span:hover {
  cursor: pointer;
  background: rgb(189, 188, 188);
  color: #fff;
}
@media (width <= 1024px) {
  .section5 .about-container {
    flex-direction: column;
  }
  .section5 .about-container .left,
  .section5 .about-container .right {
    width: 100%;
    text-align: center;
  }
}
@media (width <= 768px) {
  .section5 .about-container {
    padding: 3rem 0;
  }
  .section5 .about-container .left,
  .section5 .about-container .right {
    padding: 0;
  }
}

.section6 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.section6 .socials {
  padding: 4rem;
  gap: 8rem;
}
.section6 .socials i {
  font-size: 3.8rem;
}
.section6 .socials i:nth-child(1) {
  color: blue;
}
.section6 .socials i:nth-child(3) {
  color: blue;
}
.section6 .socials i:nth-child(4) {
  color: cyan;
}
@media (width <= 1024px) {
  .section6 .socials .skills-container {
    gap: 4rem;
  }
}
@media (width <= 768px) {
  .section6 .socials .socials {
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section6 .socials div i {
    width: 4rem;
    color: #0b30c3;
  }
}
.section6 .email {
  background: var(--border-color);
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 100px;
  gap: 1rem;
  cursor: pointer;
}
.section6 .email a {
  color: rgb(153, 153, 153);
}
.section6 .email .send {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--color-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (width <= 768px) {
  .socials {
    gap: 3rem;
  }
  .socials i {
    font-size: 3rem;
  }
}
footer {
  background: #232323;
  color: #fff;
}
footer .footer-container {
  max-width: 1440px;
  flex-direction: column;
  margin: 0 auto;
}
footer .footer-container .footer-top {
  justify-content: space-around;
  align-items: flex-start;
  padding: 4rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
footer .footer-container .footer-top div {
  flex-direction: column;
}
footer .footer-container .footer-top div h3 {
  text-transform: uppercase;
}
footer .footer-container .footer-top div ul {
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
}
footer .footer-container .footer-top div ul li:hover {
  color: var(--color-yellow);
  cursor: pointer;
}
footer .footer-container .footer-bottom {
  justify-content: center;
  padding-bottom: 2rem;
}
@media (width <= 480px) {
  footer .footer-top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: var(--color-yellow);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 0.5rem;
  z-index: 999;
  cursor: pointer;
}
.scroll-to-top .scroll-btn {
  font-size: 1.5rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: arrow infinite 1.5s ease;
}

@keyframes arrow {
  0% {
    top: 50%;
  }
  50% {
    top: 70%;
    opacity: 0.1;
  }
  100% {
    top: 40%;
  }
}